@charset "utf-8";
*{
  margin: 0 auto;
  padding: 0;
  color: rgb(255, 111, 135);
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  width: 1200px;
}
header{
  height: 50px;
  background: pink;
}
.logo{
  text-align: center;
}
.logo a{
  content: url('https://api.iconify.design/fluent/weather-partly-cloudy-day-16-regular.svg?color=white&width=50&height=50');
}
/* header */
.contents{
  width: 1200px;
  height: 350px;
}
.daily{
  float: left;
  width: 300px;
  height: 300px;
  margin: 60px;
  padding: 20px;
  border: 10px dashed pink;
  border-radius: 50px;
  text-align: center;
}
.daily:hover{
  border: 10px solid rgb(255, 111, 135);
}
#baseDay{
  margin: 20px 0;
}
#fcstSky img{
  width: 130px;
  height: 130px;
}
#temp{
  margin-top: 15px;
  font-size: 38px;
}
/* daily */
.weekly{
  float: right;
  width: 720px;
}
.pweekly{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 111, 135);
}
table{
  border: 1px solid rgb(255, 111, 135);
  border-radius: 50px;
  overflow: hidden;
  background: pink;
}
tr{
  height: 70px;
}
td{
  position: relative;
  width: 125px;
  text-align: center;
  border-right: 1px dashed rgb(255, 111, 135);
  font-weight: bold;
  color: white;
  overflow: hidden;
}
td:last-child{
  border: none;
}
td:hover{
  background: rgba(255, 255, 255, 0.144);
  color: rgb(255, 111, 135);
}
td:hover span{
  color: rgb(255, 111, 135);
}
td span{
  display: block;
  font-weight: normal;
  color: white;
}
/* weekly */
.site{
  margin: 30px;
  padding: 10px;
  padding-right: 0px;
  float: right;
  width: 650px;
}
.psite{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 111, 135);
}
.site div{
  margin: 25px;
  padding: 30px;
  width: 200px;
  border: 1px solid pink;
}
.site1{
  float: left;
}
.site2{
  float: right;
  margin-left: 10px;
}
img{
  width: 200px;
  height: 100px;
}
.site1:hover, .site2:hover{
  border: 2px solid rgb(255, 111, 135);
}
/* site */
/* contents */